{% extends 'base.html.twig' %}

{% block title %}Adoption{% endblock %}

{% block body %}
    <h1>Adoption</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adoption.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ adoption.user ? adoption.user.fullName : '' }}</td>
            </tr>
            <tr>
                <th>Dog</th>
                <td>{{ adoption.dog ? adoption.dog.name : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ adoption.createdAt ? adoption.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ApplicantAge</th>
                <td>{{ adoption.applicantAge }}</td>
            </tr>
            <tr>
                <th>Income</th>
                <td>{{ adoption.income }}</td>
            </tr>
            <tr>
                <th>HousingType</th>
                <td>{{ adoption.housingType }}</td>
            </tr>
            <tr>
                <th>HasYard</th>
                <td>{{ adoption.hasYard ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>FamilySize</th>
                <td>{{ adoption.familySize }}</td>
            </tr>
            <tr>
                <th>HoursAwayPerDay</th>
                <td>{{ adoption.hoursAwayPerDay }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adoption_index') }}">back to list</a>

    <a href="{{ path('app_adoption_edit', {'id': adoption.id}) }}">edit</a>

    {{ include('adoption/_delete_form.html.twig') }}
{% endblock %}

